<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.threathunter.babel.redis.RedisServerMailReceiver" level="INFO" />
    <logger name="com.netflix.config.AbstractPollingScheduler" level="INFO" />
    <logger name="com.google.gson" level="TRACE" />

    <root level="DEBUG">
        <appender-ref ref="stdout" />
    </root>
</configuration>